<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Registration">
  <test thread-count="5" name="registration_test">
  
  <classes>
       <class name="com.qa.Tests.RegistrationTests"/>
    </classes>
    
  </test> <!-- registration_test -->
</suite> <!-- Registration -->
